[[source]]
url = "https://repo.forge.lmig.com/api/pypi/python/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
plotly = "*"
ipykernel = "*"
lightgbm = "*"
sklearn = "*"
numpy = "*"
chess = "*"
tqdm = "*"
tabulate = "*"
lxml = "*"
pygame = "*"
memoization = "*"
tensorflow = "*"
dill = "*"
pydot = "*"
graphviz = "*"
python-lichess = "*"
retry = "*"
flask = "*"
matplotlib = "*"

[dev-packages]
jupyterlab = "*"

[requires]
python_version = "3.9"
